* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* text-align: end; */
  transition: 0.3s;
}

.wishlist-area {
  position: relative;
  text-align: end;
  font-size: 3px;

}
.heart-btn{
  font-size: 20px;
  border:1px solid rgb(222, 219, 219) ;
  border-radius: 4px;
}
.heart-btn:hover{
 background-color: #ddd;
}

.product-title{
  text-align: center;
}

.card {
  padding: 10px 20px;
  border: 1px solid black;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
 
}

.card .cart-btn{
  border: 1px solid rgb(6, 5, 5);
  background-color: rgb(14, 131, 209); 
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
}
.card img {
  height: 140px;
  width: 100%;
  object-fit: contain;
}

.card h3 {
  font-size: 14px;
  height: 40px;
}

.price {
  font-size: 18px;
}

.card:hover {
  transform: translateY(-5px);
}
.no-product {
  text-align: center;
  width: 100%;
  padding: 50px;
}

.no-product h2 {
  margin-bottom: 10px;
}

.shop-layout {
  width: 98%;
  margin: 10px 10px auto;
  display: flex;
  gap: 25px;
}

.main-content {
  flex: 1;
}

.page-title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}

@media (max-width: 768px) {
  .shop-layout {
    flex-direction: column;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.active-page {
  background: #2563eb;
  color: white;
}